/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Varela+Round&display=swap");
@import "../../../node_modules/rolly.js/css/style.css";

/* Variables */
:root {
  --color-background: #111113;
  --color-text: rgb(238, 233, 233);
  --color-accent: #94e734;
  --font-logo: "Varela Round", sans-serif;
  --font-mono: "Space Mono", monospace;
  // Sizing
  --site-width: 1200px;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-logo);
}
